.content {
  padding-top: 10vh;
  z-index: 0;
  min-height: 80vh;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.textpage {
  padding: 4vh 20vw;
  font-size: x-large;
  line-height: 2.5;
}

.textpage h1 {
  color: darkred;
  font-size: xx-large;
}

/*
  Header ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: darkgrey;
  box-shadow: 0 0 8px 5px black;
  z-index: 100;
}

.headerdiv {
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
}

.headerimg {
  height: 9vh;
}

.headerlogo {
  height: 9vh;
  display: none;
}

.navilist {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navilist > li {
  margin-right: 4vh;
  font-size: 2em;
}

.navilist a {
  color: black;
  text-decoration: none;
}

.navilist a:hover {
  color: darkred;
}

/*
  Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

.footer {
  postition: absolute;
  bottmom: 0;
  width: 100%;
  height: 10vh;
  background: darkgrey;
}

.footerdiv {
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*
  Services ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

.servicediv {
  display: flex;
  flex-flow: column wrap;
}

.servicetop {
  display: flex;
  flex-direction: row;
}

.servicetop-right {
  flex-basis: 50%;
  padding: 4vh 4vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: lightgray;
}

.servicetop h1 {
  color: darkred;
  font-size: xx-large;
}

.servicetop p {
  font-size: x-large;
  line-height: 2;
}

.servicebottom {
  padding: 4vh 20vw;
}

.servicebottom h1 {
  color: darkred;
  font-size: xx-large;
}

.servicebottom p {
  font-size: x-large;
  line-height: 2;
}

.servicetop-left {
  flex-basis: 50%;
  background-color: lightgray;
  display: flex;
  align-content: flex-end;
}

.servicetop-left img {
  max-width: 100%;
  object-fit: contain ;
}

.dotdiv {
  align-self: center;
  padding: 2vh;
  display: flex;
  flex-direction: row;
}

.dot-grey {
  height: 25px;
  width: 25px;
  margin: 1vh;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  height: 25px;
  width: 25px;
  margin: 1vh;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
}

.arrow {
  height: 100px;
  top: 40%;
  position: fixed;
  filter: drop-shadow(0px 0px 4px black);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

/*
  Home ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

.home {
  height: 100%;
  background-color: lightgray;
}

.homeleft {
  position: absolute;
  height: 100%;
}

.homeleft img {
  height: 100%;
}

.homeright {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: lightgray;
  z-index: 5;
  flex-grow: 2;
}

.homelist {
  margin-top: 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.homelist img {
  height: 1em;
}

.homelist > li {
  margin-right: 4vh;
  font-size: 2em;
  margin-top: 4vh;
}

.homelist a {
  color: black;
  text-decoration: none;
  margin-left: 2vw;
}

.homelist a:hover {
  color: darkred;
}

.homelogo {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  background-color: darkgray;
  z-index: 10;
  box-shadow: 0 0 8px 5px black;
  padding: 1vh 1vw;
}

.homelogo img {
  width: 100%;
}

/*
  Media ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

@media screen and (max-width: 1500px) {
  .servicetop {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 800px) {
  .headerimg {
    display: none;
  }
  .headerlogo {
    display: flex;
  }
}